<% if logged_in? %>
  <h1>旅の記録</h1>
  <div class="map-index jumbotron"></div>
  <div class="center top-textarea">
    <%= link_to '新しい記録を作成する', new_record_path %>
    /
    <%= link_to '一覧を確認する', records_path %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Travel Note</h1>
    <h2>
      旅の記録を管理しよう！！
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
